html {
	background: #e6d6b0;
}
body { 
	font-size: 123.1%;
	font-family: garamond, baskerville, times, sans-serif;
	background: #e6d6b0;
	color: #222;
}


ul#nav li a:hover {
	background: #e6d6b0;
	border-right: 1px solid #432;
}


h1, h2, h3, h4 {
	font-variant: small-caps;
	letter-spacing: 0.1em;
	color: #432;
	margin: 0.75em 0em 0.2em 0em;
	border-bottom: 1px solid #432;
}
h1 {
	font-size: 1.5em;
	font-family: “Trebuchet MS”, Verdana, Arial, serif;
}
h2 {
	font-size: 1.3;
	font-family: “Georgia”, Verdana, Arial, serif;
}
h3 {
	font-size: 1.2em;
	color:#009900;
}
h4 {
	font-size: 1.0em;
}

p {
	line-height: 1em;
	text-indent: 1.5em;
}

em {
	font-style: italic;
	letter-spacing: 0.08em;
}
ul {
	margin: 0.75em 0em 0.75em 2.66em;
}
ul > li {
	list-style: square;
}
ol {
	margin: 0.75em 0em 0.75em 2.75em;
}
ol > li {
	list-style: decimal;
}
li {
	margin-bottom: 0.25em;
}

strong {
	font-weight: bold;
}